<html>
<head>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/styles.css" media="screen">
    <title>Address book!</title>
</head>
<body>
  <div class="container">

    <h1>Address book goodness</h1>
    <div class="row">
      <div class="col-md-6">
        <form action='/contacts' method='post'>
          <div class="form-group">
            <label for='name'>Contact Name</label>
            <input id='name' name='name' type='text' class="form-control">
            <label for='phone'>Phone Number</label>
            <input id='phone' name='phone' type='text' class="form-control">
            <label for='street'>Street Address</label>
            <input id='street' name='street' type='text' class="form-control">
            <label for='city'>City</label>
            <input id='city' name='city' type='text' class="form-control">
            <label for='state'>State</label>
            <input id='state' name='state' type='text' class="form-control">
            <label for='zip'>Zip</label>
            <input id='zip' name='zip' type='text' class="form-control">
          </div>
            <button type='submit'>Add Contact</button>
        </form>
        <form action='/delete_contacts' method='post'>
            <button type='submit'>Clear</button>
        </form>
        </div>
        <div class="col-md-6">
          {% if contacts is not empty %}
              <p>Your Contacts:</p>
              <ul>
                {% for contact in contacts %}
                  <li>{{ contact.getName }}</li>
                  <ul>
                  <li>{{ contact.getPhone }}</li>
                  <li>{{ contact.getStreet }},  {{ contact.getCity }}, {{ contact.getState }} {{ contact.getZip }} </li>
                  </ul>
                {% endfor %}
              </ul>
          {% endif %}
        </div>
    </div>
  </div>
</body>
</html>
